
.social-icons a svg {
    margin-left: 10px;
    height: 20px;
    width: 20px;

}

.social-icons a {
    display: inline;
}

.headerMod, .secondHeader {
    display: block;
}
.headerMod {
    margin-top: 16px;
    border-bottom: #FB9FA4 solid 4px;
    border-left: #FB9FA4 solid 24px;

}
.secondHeader {
    margin-bottom: 24px;
    border-top: #FB9FA4 solid 4px;
    padding-left: 24px;

}
.header {
    display: none;
}

.navModMain {
    line-height: 40px;
}
.navModSecondary {
    line-height: 24px;
}
a:hover, .active, .footer a:hover {
    color: #FB9FA4
}
.description {
    margin: 10px 0;
    line-height: 2;
    font-weight: 400;
}

.post-title {
    text-decoration: underline;
}
.entry-cover p {
    text-align: left;
}

a, p, span, .post-meta {
    font-family: 'Loral', serif;
}

h1, h2, h3, h4, h5, h6, .logo a, .description, header a, header a span {
    font-family: 'Montserrat', sans-serif;
}

.logo a {
    font-weight: 900;
}
